<launch>
	<include file="$(find px4)/launch/mavros_posix_sitl.launch">
	<arg name="vehicle" value="iris_hallway"/>
	<arg name="world" value="$(find mavlink_sitl_gazebo)/worlds/iris_hallway.world"/>
	</include>

 	<node name="hallway_navigator" pkg="hallway_navigator" type="offb_node" />
        <node name="lidar_correction" pkg="hallway_navigator" type="lidar_correction" />
</launch>
